################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/saritpat
/.vs
/1d distance
/Project11
/Project21
/Project1
/Project4/.vs/Project4/v16/Browse.VC.opendb
